<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./pubic/index.css">
        <title>Workout Tracker</title>
    </head>
    <body>
        <h1>Work Out Tracker</h1>
        <% for (let i = 0; i < chestTri.length; i++) { %>
            <h4><%= chestTri[i].name %></h4>
        <% } %>
         <h2>Your Workouts</h2>
         <button>Create Workout</button>

    </body>
</html>
