<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./pubic/index.css">
        <title>Workout Tracker</title>
    </head>
    <body>
        <h1>Work Out Tracker</h1>
         <h2>Learn More</h2>
            <h3><%= pushday %></h3>
        <!--Add workout data-->
         <h2>Your Workouts</h2>
         <button>Create Workout</button>

    </body>
</html>
