<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/learn.css"/>
    <title>Mars Missions</title>
</head>
<body>
    <h1>Push Exercises</h1>
        <p>Increase your chest and tricep mass with exercises like push-ups, dips, and bench presses.</p>
    <h1>Pull Exercises</h1>
        <p>Define and thicken your v-shape and biceps with pull-ups, rows, and dumbbell curls.</p> 
    <h1>Legs</h1> 
        <p>Build your booty with squats and lunges.</p>      
    <h1>Abdominal</h1>
        <p>Fufill your six-pack dreams with crunches, leg lifts, and planks.</p>    
</body>
</html> 