<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/show.css"/>
  <title>Workout Tracker</title>
</head>
<body>

  <header>
    <nav>
      <a href="/workouts">Workouts</a>
      <a href="/workouts/new">Add Workout</a>
    </nav>
  </header>

  <main>
    <h1>Your Workouts</h1>
      <h4>
        <%= workout.name %>
      </h4>
      <p>
        <%= workout.cardio %>
      </p>
      <p>
        <!-- <%= workout.burpees %> -->
        <% if (workout.jumpingjacks) { %>
          <p>Jumping Jacks</p>
        <% } else { %>
          <p></p>
          <% } %>
        <% if (workout.burpees) { %>
          <p>Burpees</p>
        <% } else { %>
          <p></p>
          <% } %>
        <% if (workout.dips) { %>
          <p>Dips</p>
        <% } else { %>
          <p></p>
          <% } %>
        <% if (workout.benchpress) { %>
           <p>Bench-Press</p>
        <% } else { %>
          <p></p>
          <% } %> 
        <% if (workout.pullups) { %>
          <p>Pull-Ups</p>
        <% } else { %>
          <p></p>
          <% } %>
        <% if (workout.dumbbellrow) { %>
          <p>Dumbbell Row</p>
        <% } else { %>
          <p></p>
          <% } %> 
        <% if (workout.superman) { %>
          <p>Superman</p>
        <% } else { %>
          <p></p>
          <% } %>  
        <% if (workout.crunches) { %>
          <p>Crunches</p>
        <% } else { %>
          <p></p>
          <% } %>
        <% if (workout.bicycle) { %>
          <p>Bicycle</p>
        <% } else { %>
          <p></p>
          <% } %> 
        <% if (workout.leglifts) { %>
          <p>Leg Lifts</p>
        <% } else { %>
          <p></p>
          <% } %>
        <% if (workout.planks) { %>
          <p>Planks</p>
        <% } else { %>
          <p></p>
          <% } %>     
      </p>
  </main>

</body>
</html>
