<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/show.css"/>
  <title>Workout Tracker</title>
</head>
<body>

  <header>
    <nav>
      <a href="/workouts">Workouts</a>
      <a href="/workouts/new">Add Workout</a>
    </nav>
  </header>

  <main>
    <h1>Your Workouts</h1>
      <h4>
        <%= workout.name %>
      </h4>
      <p>
        <%= workout.cardio %>
      </p>
      <p>
        <!-- <%= workout.burpees %> -->
        <% if (workout.burpees) { %>
          <p>Burpees</p>
        <% } else { %>
          <p></p>
          <% } %>
      </p>
  </main>

</body>
</html>
