body {
    background-image: url("../images/projectimage2.jpg");
    background-size: cover;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: #48CA03;

}

nav {
    margin-left: 30px;
}

.workoutbutton {
    padding-right: 10px;
}
