body {
    background-image: url("../images/addworkout.jpg");
    background-size: cover;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: 182C0E;

}

nav {
    margin-left: 30px;
}

.workoutbutton {
    padding-right: 10px;
}
